<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="keywords" content=""/>
  <meta name="description" content=""/>
  <title>webpack</title>
</head>
<body>
<div id="app">hello world </div>
<script src="http://static.uc108.com/cdn/jquery/2.1.0/jquery.js?v=<%= htmlWebpackPlugin.options.title %>"></script>
<script src="/dist/asset/js/app.js"></script>
</body>
</html>
